.migrator-accordion-item {
	background: #fff;
	border: 1px solid #b4b9b3;
	border-radius: 5px;
	width:100%;
	display:block;
	box-sizing: border-box;
	margin-bottom:15px;
	position:relative;
}
.migrator-accordion-item .migrator-accordion-title {
	margin:0;
	padding: 10px 15px;
	cursor:pointer;
}
.migrator-accordion-item .migrator-accordion-title:hover,
.migrator-accordion-item .migrator-accordion-title:focus {
	background: #b4b9b3;
}
.migrator-accordion-item .migrator-accordion-content {
	padding: 0px 15px 10px 15px;
	border-top: 1px solid #b4b9be;
	overflow:hidden;
}
.migration-runner-wrap {
	display:flex;
}
.migration-runner-wrap .migrator-form,
.migration-runner-wrap .migrator-progress {
	width:100%;
}
.migration-runner-wrap .migrator-progress {
	margin-top:15px;
}

#migrator-progress-wrap,
#migrator-accordion-progress-wrap {
	width:100%;
	background: #737373;
	overflow:hidden;
	border-radius: 50px;
	position:relative;
	height:50px;
	display:table;
}
#migrator-accordion-progress-wrap {
    height: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    vertical-align: middle;
    width: auto;
    padding: 0px 20px;
    white-space: nowrap;
}
.active #migrator-accordion-progress-wrap {
	display:none;
}
#migrator-progress-inner,
#migrator-accordion-progress-inner {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:0;
	height:100%;
	background: #F37530;
	text-align:center;
	overflow:hidden;
	display:table;
	transition: 0.3s;
}
#migrator-progress-percent,
#migrator-accordion-progress-percent {
	vertical-align:middle;
	color: white;
	text-shadow: 1px 1px 2px black;
	display:table-cell;
	width:0;
	position:relative;
	text-align:center;
}
.message-block {
	padding-left:20px;
}
#migrator-progress-log {
	max-height:500px;
	margin-top:30px;
	overflow:auto;
}
#migration-checklist .checkbox {
	border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 16px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0!important;
    text-align: center;
    vertical-align: middle;
    width: 16px;
    min-width: 16px;
    -webkit-appearance: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: .05s border-color ease-in-out;
}
#migration-checklist .checkbox[checked]::before {
	content: "\f147";
	margin: -3px 0 0 -4px;
	color: #1e8cbe;
	float: left;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    font: normal 21px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#migrator-progress-log h4 {
	margin-bottom: 0;
}
#migrator-progress-log ul {
	margin-top:5px;
	padding-left: 20px;
	list-style-type: disc;
}